.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
  width: 100%;
  
 
}
.nav h3{
  font-size: 20px;
 
}
.nav h3 a {
  text-decoration: none;
  color: white;
}
.item a {
  color: aliceblue;
  text-decoration: none;
}

.item a.active {
  color: black;
}
.friends {
  
  display: flex;
  
}
.friend{

  padding: 5px;
}
.icon{
  width: 40px;
  height: 40px;
  background-color: coral;
  border-radius: 40px;
}
